@import url(https://fonts.googleapis.com/css?family=Georgia);
@import url(https://fonts.googleapis.com/css?family=Times+New+Roman);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro);
@page {
	size: A4;
	margin:35px 72px 35px 72px;
}
@media print {
	html,body {
		width: 210mm;
		height: 297mm;
	}
}
body {
	font-family:"Times New Roman",Arial,Georgia;
	font-size: 1em;
	margin:0px;
}
hr {
	width:auto;
	margin:0px;
	height:1px;
	background-color:black;
	padding:0px; 
}
ul {
	margin-top:0px;
	margin-bottom:20px;
}
h2 {
	font-family:"Georgia";
}
h3 {
	text-align:center;
	margin:0px;
	clear:both;
}
li {
	clear:both;
}
.what {
	float:left;
	margin:0px;
	clear:both;
	font-weight:bold;
	text-transform:uppercase;
}
.where,.when {
	float:right;
	margin:0px;
}
.why {
	clear:both;
	float:left;
	margin:0px;
}
.educationMarg {
	margin-bottom: 20px;
}
.sub {
	list-style-type: circle;
}
#contact {
	margin:0;
	text-align:center;
}
#name {
	font-size:30px;
	font-style:bold;
	margin: 0px;
	padding:0px; 
	text-align:center;
}
#projects {
	margin-top:30px;
}
#skills {
	margin: 0px;
}
