@import url(https://fonts.googleapis.com/css?family=Helvetica);
@page {
	size: A4;
	margin:60px 72px 60px 72px;
}
@media print {
	html,body {
		width: 210mm;
		height: 297mm;
	}
}
body {
	font-family:Helvetica;
	font-size: 1em;
	margin:0px;
}
hr {
	width:auto;
	margin:0px;
	height:1px;
	background-color:black;
	padding:0px; 
}
ul {
	margin-bottom:20px;
}
h3 {
	text-align:center;
	margin:0px;
	clear:both;
}
li {
	clear:both;
}
.what {
	float:left;
	margin:0px;
	clear:both;
	font-weight:bold;
	text-transform:uppercase;
}
.where,.when {
	float:right;
	margin:0px;
}
.why {
	clear:both;
	float:left;
	margin:0px;
}
#contact {
	margin:0;
	text-align:center;
}
#name {
	font-size:30px;
	font-style:bold;
	margin: 0px;
	padding:0px; 
	text-align:center;
}
#projects {
	margin-top:30px;
}
